html {
    background-color: white;
    font-size: 1em;
    line-height: 1.4;
    background-image: radial-gradient(#bea5d4 5%, transparent 0), radial-gradient(#bea5d4 5%, transparent 0);
    background-size: 30px 30px;
    background-position: 0 0, 15px 15px;
    background-attachment: fixed;
    font-family: Montserrat, sans-serif;

    body {

        div {

            &.content {

                margin-bottom: 0rem !important;
                background-color: white;

                hr {

                    &.divider {
                        display: block;
                        height: 1px;
                        border: 0;
                        background-color: #ccc;
                        margin: 0.5em 0;
                        padding: 0;
                        color: red;
                    }

                    &.multi-coloured-divider {
                        height: 2px;
                        background-image: linear-gradient(to right, green, white, orange);
                    }
                }

                span {

                    &.emphasis {
                        font-weight: bolder;
                        font-style: italic;
                    }
                }

                section {

                    &.header {

                        padding: 1rem 1rem 1rem;

                        .container {

                            .level {

                                .links {

                                    .level-left {

                                    }

                                    .level-right {

                                        a {

                                            color: inherit;
                                            text-decoration: none;

                                            span {

                                                padding: 5px;

                                                &.fa-github {

                                                    &:hover {
                                                        color: #000000;
                                                    }
                                                }

                                                &.fa-linkedin-square {

                                                    &:hover {
                                                        color: #0073B0;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }

                    &.intro {

                        .container {

                            .columns {

                                .column {

                                    img {
                                        width: 250px;
                                        height: 250px;
                                        border-radius: 180px;
                                    }

                                    p {
                                        margin-bottom: 1em;
                                    }
                                }
                            }
                        }
                    }

                    &.education {

                        .container {

                            .columns {

                                .column {

                                    .box {

                                        width: 100%;
                                        height: 100%;
                                        display: flex;

                                        img {

                                            border-radius: 0px;
                                            float: left;

                                            &.athlone-community-college-logo {
                                                width: 105px !important;
                                                height: 85px !important;
                                                margin-right: 20px;
                                            }

                                            &.athlone-institute-of-technology-logo {
                                                width: 80px !important;
                                                height: 65px !important;
                                                margin-right: 30px;
                                            }

                                            &.tus-midlands-midwest-logo {
                                                width: 55px !important;
                                                height: 100px !important;
                                                margin-right: 40px !important;
                                                margin-left: 15px !important;
                                                margin-top: 5px !important;
                                            }
                                        }

                                        div.education-info {

                                            p {
                                                overflow: hidden;
                                            }

                                            p:nth-child(4) {
                                                margin-left: 110px !important;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }

                    &.experience {

                        .container {

                            .columns {

                                .column {

                                    display: flex;

                                    .box {

                                        img {
                                            width: 90px !important;
                                            height: 55px !important;
                                            border-radius: 0px;
                                            float: left;
                                            margin-bottom: 20px;
                                        }

                                        p {
                                            clear: both;
                                        }
                                    }
                                }
                            }
                        }
                    }

                    &.skills {

                        .container {

                            .box {

                                overflow-x: auto;

                                table {

                                }
                            }
                        }
                    }

                    &.projects {

                        .container {

                            .box {

                                ul {

                                }
                            }
                        }
                    }
                }

                footer {
                    padding: 1rem 0.5rem 3rem;
                    background-color: white;
                }
            }
        }
    }
}
